body{
    background-image: url(./Assets/images/slider-1.png);
}

.navbar{
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.navmenu li a{
    text-decoration: none;
    color: white;
}

