$color-textsec1: white;
$color-orange1: #E0752F;
$color-gray: #F2F4F1;
$color-darkgray: #DCE1DA;
$color-fulldark:#5F6368;
$color-footer:#343434;
$font-roboto: 'Roboto', sans-serif;
$font-poppins: 'Poppins Semibold', sans-serif;